@charset "UTF-8";
/* Importo las fuentes del sitio */
/* Import Google fonts Fredoka*/
@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
/* Import Google fonts Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* Importo las secciones del sitio */
/* Header del Home */
header {
  background-image: linear-gradient(90deg, rgb(41, 176, 203) 0%, rgb(53, 53, 195) 35%, rgb(34, 29, 125) 100%);
  /* Color de los iconos */
  /* Font-size y color del texto */
  /* Boton "Acceder" */
  /* Linea del borde inferior */
  border-bottom: 1px solid white;
}
header .icon-color {
  color: rgba(120, 237, 255, 0.919);
}
header .navbar .nav-link {
  font-size: 1.3rem;
  color: rgb(0, 180, 224);
}
header .btn-color {
  color: rgb(0, 180, 224);
  background-color: rgb(255, 255, 255);
  border-color: rgb(179, 232, 245);
  border-style: solid;
  border-width: 3px;
  border-radius: 4px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

/* Hero en Bootstrap */
.bg-image {
  background-image: url("../assets/img/familia_moderna_proyecto_canino.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Efecto parallax */
  background-repeat: no-repeat;
  height: 65vh; /* Altura del contenedor */
  position: relative;
}
.bg-image .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.bg-image h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* position: absolute;
  top: auto;
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5); /* Negro con opacidad 
  width: 100%;
  height: 100%;
  font-family: 'fredoka';
  font-size: 60px;
  font-weight: 700;
  color: rgb(255, 254, 244); /* Color del texto 
  background-color: rgba(0, 0, 0, 0.5); /* Sub-Overlay negro con opacidad */
}

/* Items del menu de navegación */
.nav-item {
  background-color: azure;
  border-color: rgb(191, 245, 255);
  border-style: solid;
  border-radius: 50px;
  border-width: 3px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

/* Color del texto, transform, font y margin en hover del menu */
.navbar .nav-link:hover {
  transition: 0.5s;
  color: black;
  transform: scale(1.2);
  margin-right: 20px;
  margin-left: 20px;
  font-family: "fredoka";
}

/* Color del texto, transformn, font y margin en hover del boton acceder del menu */
.btn:hover {
  transition: 0.5s;
  transform: scale(1.2);
  border: 4px solid wheat;
  background-color: white;
  margin-right: 20px;
  margin-left: 40px;
  font-family: "fredoka";
}

/* Vistas solo para Mobile */
@media (max-width: 767.98px) {
  /* Iconos de ancho completo y centrado */
  .navbar-nav .nav-item {
    width: 100%;
    text-align: center;
  }
  /* Centrar boton "acceder" */
  .d-flex {
    justify-content: center;
  }
  .btn-color:hover {
    transition: 0.5s;
    transform: scale(1.2);
    margin-top: 10px;
    border: 2px solid wheat;
    background-color: white;
  }
  /* Color blanco al borde del menu mobile*/
  .navbar-toggler {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
  }
  /* Color blanco al icono del menu mobile con codificacion de svg*/
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}

/*# sourceMappingURL=styles.css.map */
