@charset "UTF-8";
/* Colores para .overlay-comunidad en la Pagina de Comunidad */
/* Import Google fonts Fredoka*/
@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
/* Import Google fonts Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* Items del menu de navegación */
.nav-item {
  background-color: azure;
  border-color: rgb(191, 245, 255);
  border-style: solid;
  border-radius: 50px;
  border-width: 3px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  font-family: "Poppins";
}

/* Color del texto, transform, font y margin en hover del menu */
.navbar .nav-link:hover {
  transition: 0.5s;
  color: black;
  transform: scale(1.2);
  margin-right: 20px;
  margin-left: 20px;
  font-family: "fredoka";
}

/* Botondes de las pestañas */
.nav-tabs .nav-link {
  border-radius: 50px;
}

.nav-tabs .nav-link:focus {
  border-radius: 50px;
}
.nav-tabs .nav-link:focus :focus {
  border-radius: 50px;
}

/* Tamaño del texto y font para el boton acceder del menu */
.btn {
  font-family: "poppins";
  font-size: 19px;
}

/* Color del texto, transformn, font y margin en hover del boton acceder del menu */
.btn:hover {
  border: 2px solid rgb(201, 253, 110);
  background-color: rgb(153, 204, 64);
  font-family: "fredoka";
}

/* Vistas solo para Mobile */
@media (max-width: 767.98px) {
  /* Iconos de ancho completo y centrado */
  .navbar-nav .nav-item {
    width: 100%;
    text-align: center;
  }
  /* Centrar boton "acceder" */
  .d-flex {
    justify-content: center;
  }
  .btn-color:hover {
    transition: 0.5s;
    transform: scale(1.2);
    margin-top: 10px;
    border: 2px solid rgb(201, 253, 110);
    background-color: rgb(153, 204, 64);
  }
  /* Color blanco al borde del menu mobile*/
  .navbar-toggler {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
  }
  /* Color blanco al icono del menu mobile con codificacion de svg*/
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}
/* H1 */
h1, .h1-qr-mascoteros, .h1-paseadores, .h1-comunidad {
  top: 50%;
  left: 50%;
  text-align: center;
  font-family: "fredoka";
  font-size: 60px;
  font-weight: 700;
  color: rgb(255, 255, 255); /* Color del texto */
  text-shadow: 2px 2px 4px rgb(255, 32, 154); /* Sombreado del texto */
}

/* H1 para la pagina de Comunidad */
.h1-comunidad {
  color: rgb(255, 255, 255); /* Color del texto */
  text-shadow: 2px 2px 4px rgb(0, 152, 158); /* Sombreado del texto */
  margin-bottom: 1rem;
}

/* H1 para la pagina de Paseadores */
.h1-paseadores {
  color: rgba(102, 250, 255, 0.994); /* Color del texto */
  text-shadow: 2px 2px 4px rgb(2, 40, 84); /* Sombreado del texto */
  margin-bottom: 1rem;
}

/* H1 para la pagina de QR Mascoteros */
.h1-qr-mascoteros {
  color: rgb(252, 248, 255); /* Color del texto */
  text-shadow: 2px 2px 4px rgb(234, 0, 255); /* Sombreado del texto */
  margin-bottom: 1rem;
}

h2 {
  text-align: center;
  font-family: "fredoka";
  color: rgba(255, 255, 255, 0.919); /* Color del texto */
  text-shadow: 2px 2px 4px rgb(0, 179, 206); /* Sombreado del texto */
  font-weight: 700;
  padding-top: 25px;
}

h4 {
  color: rgb(58, 58, 58);
  font-family: "fredoka";
  margin: 40px 0px 70px 15px;
}

/* Vistas solo para Mobile */
@media (max-width: 767.98px) {
  /* Iconos de ancho completo y centrado */
  h4 {
    font-size: 20px;
    margin: 5px 15px 40px 5px;
  }
}
/* Degrade del Home */
header {
  background-image: linear-gradient(90deg, rgb(41, 176, 203) 0%, rgb(53, 53, 195) 35%, rgb(34, 29, 125) 100%);
  /* Color de los iconos */
  /* Font-size y color del texto */
  /* Boton "Acceder" */
  /* Gover Boton "Acceder" */
  /* Linea del borde inferior del header */
  border-bottom: 1px solid white;
}
header .icon-color {
  color: rgba(120, 237, 255, 0.919);
}
header .navbar .nav-link {
  font-size: 1.3rem;
  color: rgb(0, 180, 224);
}
header .btn-color {
  color: rgb(0, 180, 224);
  background-color: rgb(255, 255, 255);
  border-color: rgb(179, 232, 245);
  border-style: solid;
  border-width: 3px;
  border-radius: 4px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  align-items: center;
}
header .btn.btn-color:hover .fa-user {
  color: white;
}

/* Hero con imagen en Home */
.bg-image {
  background-image: url("../assets/img/familia_moderna_proyecto_canino.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Efecto parallax */
  background-repeat: no-repeat;
  height: 65vh; /* Altura del contenedor */
  position: relative;
  /* Texto arriba del fondo */
}
.bg-image .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Para que el overlay ocupe todo el contenedor */
  background-color: rgba(113, 86, 0, 0.304); /* Sub-Overlay con opacidad */
}

/* Vistas solo para Mobile */
@media (max-width: 767.98px) {
  /* Texto mas chico para mejor vista */
  .overlay h1, .overlay .h1-comunidad, .overlay .h1-paseadores, .overlay .h1-qr-mascoteros {
    font-size: 40px;
  }
}
.video-container {
  position: relative;
  width: 100%;
  height: 65vh;
  overflow: hidden;
}

/* Hero con video en Comunidad */
#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Texto arriba del fondo */
.overlay-comunidad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.159); /* Lo utilizo mediante variables */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  text-align: center;
  flex-direction: column; /* Cambio a direccion columna para apilar  */
  justify-content: flex-end; /* Alineo el boton hacia el final (abajo) */
}

/* Boton de miembros */
.btn-comunidad {
  margin-top: 1rem; /* Ajusto el margen superior */
}

/* Vistas solo para Mobile */
@media (max-width: 767.98px) {
  /* Texto mas chico para mejor vista */
  .h1-comunidad {
    font-size: 40px;
  }
}
#footer {
  background-image: linear-gradient(90deg, rgb(34, 29, 125) 0%, rgb(41, 176, 203) 35%, rgb(34, 29, 125) 100%);
  /* Sin margenes */
  margin: 0px 0px 0px 0px;
  /* Color de los iconos */
  /* Iconos hover y transfrormacion */
  /* Color del texto y tipografia */
  color: azure;
  font-family: "poppins";
}
#footer .sn-color {
  color: rgb(255, 255, 255);
  padding: 0px 5px 0px 5px;
}
#footer .sn-color:hover {
  color: rgb(0, 0, 0);
  transition: 0.5s;
  transform: scale(1.4);
  padding: 0px 20px 0px 20px;
}

/* Vistas solo para Mobile */
@media (max-width: 767.98px) {
  /* Iconos de ancho completo y centrado */
  #footer {
    font-size: 12px;
    padding-top: 15px;
  }
}
.img-home-desarrollos {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Normalizo los tamaños de las imagenes de las cards */
.card-img-normalize {
  width: 100%;
  height: 240px; /* altura de las tarjetas */
  object-fit: cover; /* Para recortar la image cono la proporción */
}

/* Espaciados para el texto Seguinos.. */
.seguinos {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Vistas solo para Mobile */
@media (max-width: 767.98px) {
  /* Texto mas chico para mejor vista */
  .featurette-heading {
    font-size: 18px;
  }
}
.body_acceder {
  background-image: url("../assets/icons/huellas_y_huesos_grises.jpg");
  background-repeat: repeat;
  background-attachment: fixed; /* Efecto parallax */
}

.tab-content {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 10px;
  border-width: 3px;
}

/* Vistas solo para Mobile */
@media (max-width: 767.98px) {
  /* Texto mas chico para mejor vista */
  .h1-paseadores {
    font-size: 40px;
  }
}

/*# sourceMappingURL=styles.css.map */
