// Defino los colores para mi header
$color-degrade-inicial-home: rgb(41, 176, 203);
$color-degrade-medio-home: rgb(53, 53, 195);
$color-degrade-final-home: rgb(34, 29, 125);

// Defino los colores para mi footer
$color-degrade-inicial-footer: rgb(34, 29, 125);
$color-degrade-medio-footer: rgb(41, 176, 203);
$color-degrade-final-footer: rgb(34, 29, 125);