//Contiene estilos especificos para diferentes paginas del sitio

.img-home-desarrollos{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Normalizo los tamaños de las imagenes de las cards */

.card-img-normalize {
    width: 100%;
    height: 240px; /* altura de las tarjetas */
    object-fit: cover; /* Para recortar la image cono la proporción */
}

/* Espaciados para el texto Seguinos.. */
.seguinos{
    margin-top: 30px;
    margin-bottom: 30px;

}
