#footer{
    @include gradient-bg($color-degrade-inicial-footer, $color-degrade-medio-footer, $color-degrade-final-footer);

    /* Sin margenes */
    margin: 0px 0px 0px 0px;

    /* Color de los iconos */
    .sn-color{
        color: rgb(255, 255, 255);
    }
    /* Color del texto y tipografia */
    color: azure;
    font-family: 'poppins';
}