/* Header del Home */
header{
    @include gradient-bg($color-degrade-inicial-home, $color-degrade-medio-home, $color-degrade-final-home);
    //Color de los iconos
    .icon-white {
        color: white;
    }
    /* Font-size del texto */
    .navbar .nav-link {
        font-size: 1.2rem; 
        color: white;
    }

    .navbar-toggler{
        color: white;
    }
}


    /* Color del texto, transform y margin en hover */
    .navbar .nav-link:hover {
        color: black; 
        transform: scale(1.2);
        margin-right: 20px;
        margin-left: 20px;
    }
    .navbar-toggler{
        color: white;
    }
