.video-container {
    position: relative;
    width: 100%;
    height: 65vh;
    overflow: hidden;  
}
/* Hero con video en Comunidad */
    #background-video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translate(-50%, -50%);
        z-index: 1;
}
    /* Texto arriba del fondo */
    .overlay-comunidad {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $overlay-bg-color; /* Lo utilizo mediante variables */
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        text-align: center;
        flex-direction: column; /* Cambio a direccion columna para apilar  */
        justify-content: flex-end; /* Alineo el boton hacia el final (abajo) */
    
} 
    /* Boton de miembros */
    .btn-comunidad {
        margin-top: 1rem; /* Ajusto el margen superior */       
    } 

/* Vistas solo para Mobile */

@media (max-width: 767.98px) {
    /* Texto mas chico para mejor vista */
    .h1-comunidad{
        font-size: 40px;
    }
}

