/* Hero con imagen en Home */
.bg-image {
    background-image: url("../assets/img/familia_moderna_proyecto_canino.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Efecto parallax */
    background-repeat: no-repeat;
    height: 65vh;  /* Altura del contenedor */
    position: relative;
    /* Texto arriba del fondo */
    .overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%; /* Para que el overlay ocupe todo el contenedor */
        background-color: rgba(113, 86, 0, 0.304); /* Sub-Overlay con opacidad */ 
    } 
}

/* Vistas solo para Mobile */

@media (max-width: 767.98px) {
    /* Texto mas chico para mejor vista */
    .overlay h1{
        font-size: 40px;
    }
}