h1{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'fredoka';
    font-size: 60px;
    font-weight: 700;
    color: rgb(255, 255, 255); /* Color del texto */
    text-shadow: 2px 2px 4px rgb(255, 32, 154); /* Sombreado del texto */
}

h2  {
    text-align: center;
    font-family: 'fredoka';
    color: rgba(120, 237, 255, 0.919); /* Color del texto */
    text-shadow: 2px 2px 4px rgb(202, 230, 255); /* Sombreado del texto */
    padding-top: 25px;
}