h1{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'fredoka';
    font-size: 60px;
    font-weight: 700;
    color: rgb(255, 255, 255); /* Color del texto */
    text-shadow: 2px 2px 4px rgb(255, 32, 154); /* Sombreado del texto */
}

h2  {
    text-align: center;
    font-family: 'fredoka';
    color: rgba(255, 255, 255, 0.919); /* Color del texto */
    text-shadow: 2px 2px 4px rgb(0, 179, 206); /* Sombreado del texto */
    font-weight: 700;
    padding-top: 25px;
}
h4{
    color: rgb(58, 58, 58);
    font-family: 'fredoka';
    margin: 40Px 0px 70px 15px;

}

/* Vistas solo para Mobile */

@media (max-width: 767.98px) {
    /* Iconos de ancho completo y centrado */
    h4{
        font-size: 20px;
        margin: 5px 15px 40px 5px;
    }
}